##     Yahoo Finance: https://finance.yahoo.com/
##    Yfinance documentation: https://pypi.org/project/yfinance/#installation
##    Yahoo Finance APIs article: https://algotrading101.com/learn/yahoo-finance-api-guide/

In [3]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
msft = yf.Ticker("MSFT")

In [5]:
msft

yfinance.Ticker object <MSFT>

In [6]:
msft.history(period = 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055783,0.063987,0.055783,0.061252,1031788800,0.0,0.0
1986-03-14,0.061252,0.064533,0.061252,0.063439,308160000,0.0,0.0
1986-03-17,0.063439,0.065080,0.063439,0.064533,133171200,0.0,0.0
1986-03-18,0.064533,0.065080,0.062345,0.062892,67766400,0.0,0.0
1986-03-19,0.062892,0.063439,0.061252,0.061799,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-03,283.959991,284.130005,280.149994,281.779999,25978600,0.0,0.0
2022-05-04,282.589996,290.880005,276.730011,289.980011,33599300,0.0,0.0
2022-05-05,285.540009,286.350006,274.339996,277.350006,43260400,0.0,0.0
2022-05-06,274.809998,279.250000,271.269989,274.730011,37748300,0.0,0.0
2022-05-09,270.059998,272.359985,264.549988,266.890015,22996626,0.0,0.0

In [7]:
msft.history(period = '2y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-11,179.842631,184.123897,179.548060,183.367813,30892700,0.0,0
2020-05-12,183.426742,183.662398,179.008003,179.214203,32038200,0.0,0
2020-05-13,179.253453,180.726365,173.351974,176.504013,44711500,0.0,0
2020-05-14,174.333962,177.427088,172.507549,177.269974,41873900,0.0,0
2020-05-15,175.826480,183.682014,173.803683,179.852448,46610400,0.0,0
...,...,...,...,...,...,...,...
2022-05-03,283.959991,284.130005,280.149994,281.779999,25978600,0.0,0
2022-05-04,282.589996,290.880005,276.730011,289.980011,33599300,0.0,0
2022-05-05,285.540009,286.350006,274.339996,277.350006,43260400,0.0,0
2022-05-06,274.809998,279.250000,271.269989,274.730011,37748300,0.0,0
2022-05-09,270.059998,272.359985,264.549988,266.700012,23006001,0.0,0

In [8]:
tesla = yf.Ticker('TSLA')
tesla = tesla.history(period="max")
tesla = tesla[['Open']]

In [9]:
nio = yf.Ticker('NIO')
nio = nio.history(period="max")
nio = nio[['Open']]

In [10]:
tesla

                  Open
Date
2010-06-29    3.800000
2010-06-30    5.158000
2010-07-01    5.000000
2010-07-02    4.600000
2010-07-06    4.000000
...                ...
2022-05-03  903.179993
2022-05-04  903.940002
2022-05-05  939.020020
2022-05-06  887.000000
2022-05-09  836.450012

[2987 rows x 1 columns]

In [11]:
type(tesla)

pandas.core.frame.DataFrame

In [12]:
stonks = tesla.merge(nio, how = 'outer', left_index = True, right_index = True)
stonks.columns = ['TSLA', 'NIO']
stonks

                  TSLA        NIO
Date
2010-06-29    3.800000        NaN
2010-06-30    5.158000        NaN
2010-07-01    5.000000        NaN
2010-07-02    4.600000        NaN
2010-07-06    4.000000        NaN
...                ...        ...
2022-05-03  903.179993  17.290001
2022-05-04  903.940002  17.180000
2022-05-05  939.020020  17.410000
2022-05-06  887.000000  15.610000
2022-05-09  836.450012  14.330000

[2987 rows x 2 columns]